html,body {
    background-color:#f2f2f2;
    color: black;
    font-family: arial;
    height: 100%;
    width: 100%;
    margin: 0 0;
    overflow-x: hidden;
}

audio {
width: 100%;
display: none;
}

#music-player-app {
    height: 100%;
    width: 100%;
}

// @media only screen and (max-width:850px) {
//     #nowPlay { display:none; }
// }

@media only screen and (max-width:1024px) {
    .playerWrapper {
        height: 100%;
        width: 100%;

        .playerWrapperInner {
            max-width: auto;
            height: 100%;
            width: 100%;
        }
    }
}

.btn {
    border: none; /* Remove borders */
    color: black; /* White text */
    //font-size: 16px; /* Set a font size */
    width: 24px;
    height: 24px;
    cursor: pointer; /* Mouse pointer on hover */
    padding: 2px 2px;
    filter: invert(60%);
}

img.btn.active {
    color: blue;
    filter: invert(20%);
}

.btn:hover {
    background-color: RoyalBlue;
    filter: none;
}


.nowPlay {
    font-size: 20px;
    .rating-stars {
        float: right;
    }
}

.nowPlay, .playControls {
    padding: 10px 10px;
}

.playerWrapper {
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .playerWrapperInner {
        flex: 1;
        max-width: 1024px;
        height: 100%;
        display: inline-block;
        text-align: left;
    }
}

.player {
    background-color:#f2f2f2;
    font-weight: 300;
    display: flex;
    height: 100%;
    flex-direction: column;
    .playlist-container {
        flex-grow: 1;
        box-shadow: 0 0 3px grey;
    }
    user-select: none;
}

.playControls {
    display: flex;
    .spacer {
        flex: 1;
    }
}

.slider {
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 1px;
    margin-bottom: 1px;
    min-width: 50px;

    cursor: pointer; /* Mouse pointer on hover */

    .slider_amount, .slider_back {
        //position: absolute;
        left: 0;
        height: 2px;
    }
    .slider_amount {
        background-color: #5181b8;
    }
    .slider_back {
        background-color: #d1d6de;
    }
}


.volume_slider {
    flex-grow: 1;
    max-width: 200px;
}

.playControls {
    margin-bottom: 5px;
}

.filterGroup {
    display: flex;
    flex: 3;
    width: 10em;
    input {
        flex: 1;
        background: transparent;
        border: 0;
        color: green;
        margin-left: 10px;
        margin-right: 10px;
    }

    &:active {
        box-shadow: 0 0 3px black;
    }
}


.rating-stars {
    color: lightgray;
    transition: color 350ms;

    .active {
        color: green;
    }

    &:hover {
        color: green;
    }

    > a:hover ~ a{
        color: lightgray;
    }
}

.playlist {
    margin: 0 auto;
    width: 95vw;
}
.playlist-track {
    display: flex;
    height: 40px;
    background-color: #fff;

    &.playing {
        background-color: coral !important;
        color:black;
        cursor:default !important;
    }

    .track-info {
        flex-grow: 1;
        flex-shrink: 1;
        padding-left: 10px;
        overflow: hidden;
    }

    .track-stats {
        text-align: right;
        padding-right: 10px;
        //flex-grow: 0;
        flex-shrink: 0;
    }

    &:hover {
        background-color:rgba(44, 226, 226, 0.1);
        .track-buttons {
            display: inline-flex;
        }
    }

    .artist {
        font-weight: 300 !important;
        color: #999 !important;
    }

    .title {
        color: #666 !important;
    }

}

.artist, .title, .npTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.track-buttons {
    /* display: inline-flex;  on track hover*/
    display: none;
    align-items: center;
}

.nowPlay {
    display: flex;
    .spacer {
        flex: 1;
    }
}
.playnow-buttons {
    display: inline-flex;
    align-items: center;
    >img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        filter: invert(70%);
        &:hover {
            filter: invert(40%);
            transition: filter 350ms;
        }
    }
}

.track-buttons > img {
    width: 12px;
    height: 12px;
    filter: invert(40%);
    padding: 12px;
    &:hover {
        filter: invert(70%);
    }
}

